<!--
    Grey background
    - if no roasts in progress
        - Favorites list
    - Roast in progress
        - eta on roast
        - start, stop and pause buttons
        - temp up or down knobs
        - air flow up or down knobs

 -->
<div class="container-fluid" id="missionControl" ng-controller="missionCtrl">
    <!-- Initial view when no roast is running -->
    <div class="row" ng-show="currentState == 'Initial'">
        <h1 class="clearfix" style="margin-bottom: 30px;text-align:center;">
            Mission Control <span class="fa fa-space-shuttle"></span>
        </h1>

        <div class="col-md-4 col-sm-4 clearfix">
            <a href="" style="text-decoration: none;">
                <section class="banner banner_controls controlOptions">
                    <div class="inner">
                        <h2>Favorite Roasts</h2>
                    </div>
                </section>
            </a>
        </div>

        <div class="col-md-4 col-sm-4 clearfix">
            <a href="" style="text-decoration: none;">
                <section class="banner banner_controls controlOptions">
                    <div class="inner">
                        <h2>Recent Roasts</h2>
                    </div>
                </section>
            </a>
        </div>

        <div class="col-md-4 col-sm-4 clearfix">
            <a href="" style="text-decoration: none;">
                <section class="banner banner_controls controlOptions">
                    <div class="inner">
                        <h2>Popular Roasts</h2>
                    </div>
                </section>
            </a>
        </div>
        <div class="col-md-12 col-sm-12">
            <div class="btn btn-lg btn-success center-block"
                 ng-click="setnextState('Roasting')">Quick Start
            </div>
        </div>
    </div>

    <!-- Roast is running -->
    <div class="row" ng-show="currentState == 'Roasting'">
        <div class="col-md-12" style="height:200px;">
            <div class="col-md-6 pull-right">
                Current Air Percentage
            </div>
            <div class="col-md-6 pull-left">
                Current Temperature
            </div>

        </div>
        <div class="col-md-12">
            <div class="col-sm-4 pull-right">
                <!-- TODO: value should be acquired from the db -->
                <input type="text" value="0" id="aircontrol" data-cursor="true">
            </div>
            <div class="col-sm-4 center-block">
                <div class="btn btn-lg center-block btn-success"
                     ng-class="{'btn-danger': roasting}"
                     ng-click="toggleRoast()">
                    <span ng-show="roasting">Stop</span>
                    <span ng-show="!roasting">Resume</span>
                </div>
            </div>
            <div class="col-sm-4 pull-left">
                <!-- TODO: value should be acquired from the db -->
                <input type="text" value="0" id="tempcontrol" data-cursor="true">
            </div>
        </div>

    </div>
</div>


<script>
    $(function () {
        $("#aircontrol").knob();
    });
    $(function () {
        $("#tempcontrol").knob();
    });
</script>