<div class="row" ng-show="currentState == 'Roasting'">
    <!-- Roast info header -->
    <div class="row" style="background-color: silver; height: 150px;width:100%;"
         ng-show="currentState == 'Roasting'">
        <h2>Roast Name</h2>
        <!-- Bean type will link to amazon in order to allow customer to buy ced beans. -->
        <h4>Roast Type | <a href="#/" style="text-decoration: none;">Bean Type</a></h4>
    </div>
    <div class="container">
        <div class="row center-block" style="height:200px;text-align: center;">
            <div class="col-md-6" style="margin: auto;">
                <h2 style="text-align: center;">Air %</h2>
                <h1 style="text-align: center;">42%</h1>
            </div>
            <div class="col-md-6" style="margin: auto;">
                <h2 style="text-align: center;">Current Temperature</h2>
                <h1 style="text-align: center;">150&deg; F</h1>
            </div>

        </div>
        <div class="row center-block" style="text-align: center;" ng-controller="TimerCtrl">
            <div class="col-sm-4" style="margin: auto;">
                <!-- TODO: value should be acquired from the db -->
                <input type="text" value="0" id="aircontrol" data-cursor="true">
            </div>

            <!-- two buttons -->
            <div class="col-sm-4" style="margin: auto">

                <!--<span ng-bind="etaView"></span>-->
                <!--<span ng-bind="elaspedView"></span>-->

                <p>Time Remaining: <span ng-bind="etaView"></span></p>
                <p>Elasped Time: <span ng-bind="elaspedView"></span></p>
                <!--<button ng-click="stop()">Stop</button>-->
                <!--<button ng-click="count()">Start</button>-->

                <div class="btn btn-lg btn-danger center-block"
                     ng-click="toggleRoast(); stop()"
                     style="padding: auto;"
                     ng-show="roasting">
                    <span>Stop</span>

                </div>

                <div class="btn btn-lg btn-success center-block"
                     ng-click="toggleRoast(); count()"
                     style="padding: auto;"
                     ng-show="!roasting">
                    <span>Resume</span>
                </div>
            </div>
            <!-- style="padding:20px 90px;" -->
            <div class="col-sm-4" style="margin: auto;">
                <!-- TODO: value should be acquired from the db -->
                <input type="text" value="0" id="tempcontrol" data-cursor="true" data-min="100" data-max="1000"
                       data-step="1">
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $("#aircontrol").knob();
    });
    $(function () {
        $("#tempcontrol").knob();
    });

</script>