<!--
    Put a search box in the nav bar

    Use amazon.com as an example
-->
<div class="container" style="padding: 50px;">
    <div class="row">

        <div class="col-md-12 feature">
            <a href="" style="text-decoration: none;">
                <section class="banner">
                    <div class="inner">
                        <h2>Featured Roasts</h2>
                    </div>
                </section>
            </a>
        </div>

        <!-- Most Popular Roasts -->
        <div class="col-md-6 feature">
            <a href="" style="text-decoration: none;">
                <section class="banner">
                    <div class="inner">
                        <h2>Most Popular Roasts</h2>
                    </div>
                </section>
            </a>
        </div>

        <!-- Light Roasts -->
        <div class="col-md-6 feature">
            <a href="" style="text-decoration: none;">
                <section id="banner_light" class="banner">
                    <div class="inner">
                        <h2>Light Roasts</h2>
                    </div>
                </section>
            </a>
        </div>

        <!-- Medium Roasts -->
        <div class="col-md-6">
            <a href="" style="text-decoration: none;">
                <section id="banner_medium" class="banner">
                    <div class="inner">
                        <h2>Medium Roasts</h2>
                    </div>
                </section>
            </a>
        </div>

        <!-- Dark Roasts -->
        <div class="col-md-6">
            <a href="" style="text-decoration: none;">
                <section id="banner_dark" class="banner">
                    <div class="inner">
                        <h2>Dark Roasts</h2>
                    </div>
                </section>
            </a>
        </div>

    </div>
</div>