<!--
    Put a search box in the nav bar

    Use amazon.com as an example
-->
<div class="row">
    <div class="results" style="text-align: left !important;">
        <p>1-16 of 50,000 results for "x"</p>
    </div>
</div>
<div class="row">
    <!-- Store roast categories -->
    <div class="col-sm-3">
        <legend>Show results for</legend>
        <a href="#"><h3>Light</h3></a>
        <div class="col-sm-offset-2">
            <a href="#"><h5>Light City</h5></a>
            <a href="#"><h5>Half City</h5></a>
            <a href="#"><h5>Cinnamon</h5></a>
        </div>

        <a href="#"><h3>Medium</h3></a>
        <div class="col-sm-offset-2">
            <a href="#"><h5>City</h5></a>
            <a href="#"><h5>American</h5></a>
            <a href="#"><h5>Breakfast</h5></a>
        </div>
        <a href="#"><h3>Dark</h3></a>
        <div class="col-sm-offset-2">
            <a href="#"><h5>Light City</h5></a>
            <a href="#"><h5>Half City</h5></a>
            <a href="#"><h5>Cinnamon</h5></a>
        </div>
    </div>

    <!-- Roast profile list -->
    <div class="col-sm-3">

    </div>
</div>