<div class="container">
    <div class="row">
        <h1>Meet the Roast Right Team</h1>
        <br>
        <br>
        <!-- Samuel Roman Info -->
        <div class="row">
            <div class="col-sm-6">
                <!--<h2>Samuel Roman</h2>-->
                <img src="./public/Files/GroupImages/SamuelRoman.jpg" class="img-responsive"
                     alt="Computer Ninja" style="width:75%">
            </div>
            <div class="col-sm-6">
                <p><b>Samuel Roman</b> is a Senior
                    Computer Engineering
                    Student at the University of
                    Central Florida. He will be
                    receiving his Bachelor of
                    Science in Computer
                    Engineering in August 2016.
                    His interests include software
                    development in general, video
                    games, and everything nerdy.
                    He will be taking a full time position as a Systems
                    Engineer at Millennium Engineering and Integration
                    Company in Melbourne, Florida in mid-August.</p>
            </div>
        </div>

        <br>
        <hr>
        <!-- Evan Baytan Info -->
        <div class="row">
            <div class="col-sm-6">
                <!--<h2>Evan Baytan</h2>-->
                <img src="./public/images/UserStock.png" class="img-responsive"
                     alt="Stock Image" style="width:50%">
            </div>
            <div class="col-sm-6">
                <p><b>Evan Baytan</b> is a senior at
                    the University of Central
                    Florida. He will be receiving
                    his Bachelor of Science in
                    Computer Engineering in
                    August 2016. His interests
                    include iOS development
                    and video games with
                    friends. Evan is currently
                    interviewing for a QA
                    Engineer position with
                    Apple.</p>
            </div>
        </div>

        <br>
        <hr>
        <!-- Brian Webb Info -->
        <div class="row">
            <div class="col-sm-6">
                <img src="./public/images/UserStock.png" class="img-responsive"
                     alt="Computer Ninja" style="width:50%">
            </div>
            <div class="col-sm-6">
                <p><b>Brian Webb</b> is a
                    senior at the
                    University of
                    Central Florida.
                    He will be
                    receiving his
                    Bachelor of
                    Science in
                    Electrical
                    Engineering in August 2016. His interests include playing
                    bass, guitar or drums; learning about and observing space
                    flight, baking and photography. Brian looks to pursue his
                    Master’s Degree while working in a professional
                    environment. He has interviewed with US Airforce
                    civilian engineering and would love to work in defense or
                    aerospace.</p>
            </div>
        </div>

        <br>
        <hr>
        <!-- Patrick Sites Info -->
        <div class="row">
            <div class="col-sm-6">
                <img src="./public/images/UserStock.png" class="img-responsive"
                     alt="Computer Ninja" style="width:50%">
            </div>
            <div class="col-sm-6">
                <p><b>Patrick Sites</b> is a senior of
                    the University of Central
                    Florida. He will be receiving
                    his Bachelor of Science in
                    Electrical Engineering in
                    August 2016. His interests
                    include diving, biking and
                    mycology. Patrick is
                    planning on working with
                    NASA for Satellite
                    Simulations.</p>
            </div>
        </div>
    </div>
</div>