<!-- Banner -->
<section class="img-responsive banner noselect" id="banner_home">
    <div class="inner">
        <h2>Join the community</h2>
        <p>Changing the way that you roast</p>
        <ul class="actions">
            <li>
                <button class="btn btn-lg btn-default">Learn More</button>
            </li>
        </ul>
    </div>
</section>

<div class="container">

    <div class="row noselect">

        <hr>

        <div class="row" id="features">
            <br>
            <h2>What is Roast Right?</h2>
            <br>

            <p> RoastRight: The Smart Coffee Roaster is designed to give users the ability to
                quickly and easily make some superb coffee roasts in the comfort of their home.
                It combines the power of the Behmor 1600 Plus coffee roaster – The ability to
                achieve darker roasts and to roast up to a pound of coffee at a time – with the use
                of modern communications and multiple input, multiple output control systems.
                The RoastRight roaster not only senses temperature of the roasting chamber, it
                also senses how the weight of the beans changes over time and is capable of
                determining where the beans are in the roasting process. These control systems
                give users the ability to easily and accurately achieve the exact roast they are
                looking for, every time!
            </p>
            <p>
                By combining these control systems with internet connectivity for control and
                monitoring with your iPhone or Apple Watch, the RoastRight coffee roaster brings
                coffee roasting into the modern era and provides new levels of customization and
                ease of use to an industry that has seen little innovation in the past two decades.
                The apps allow you to build and share custom roasting profiles with your friends
                so that other RoastRight users can easily replicate your results and try the same
                coffee that you had that very morning. Is your phone dead? Have no fear!
                RoastRight has a built in touch screen controller to allow you to use it with or
                without your phone.
            </p>
            <p>
                Whether you source your beans from Brazil or Thailand; whether they have
                followed a dry process, wet process, or even a more exotic process such as a
                honey process; whether you prefer a light roast or a dark roast, the RoastRight
                coffee roaster can handle it. RoastRight can handle any variety of coffee bean
                and produce the exact roast that you were looking for, every time. Want to try the
                world’s best cup of coffee? Look no further than RoastRight!
            </p>

            <!--<div class="col-sm-4">-->
            <!--<img src="public/images/RoastProfilev2.png" class="img-responsive" style="width:50%">-->
            <!--<h3>CREATE CUSTOM PROFILES</h3>-->
            <!--<p>Keep full control of the roasting process from beginning to end.</p>-->
            <!--</div>-->
            <!--<div class="col-sm-4">-->
            <!--<img src="public/images/precisionv2.png" class="img-responsive" style="width:50%">-->
            <!--<h3>DIGITAL PRECISION <br>AND CONTROL</h3>-->
            <!--<p>Fine tune and repeat roast profiles to get the perfect result.</p>-->
            <!--</div>-->
            <!--<div class="col-sm-4">-->
            <!--<img src="public/images/sharev2.png" class="img-responsive" style="width:50%">-->
            <!--<h3>SHARE YOUR ROASTING PROFILES</h3>-->
            <!--<p>With our service it is easier than ever to post your roasting profiles for others to try and get-->
            <!--feedback in return.</p>-->
            <!--</div>-->
        </div>

        <hr>

        <div class="row">

            <div class="col-sm-8">
                <img src="public/images/coffeeRoasting.jpg" class="img-responsive">
            </div>
            <br>
            <div class="col-sm-4">
                <h2>Machine Specifications</h2>
                <br>


                <ul>
                    <li><h4>Bean Capacity: 5 lb</h4></li>
                    <li><h4>Power Consumption: ? W</h4></li>
                    <li><h4>Touch Screen Interface</h4></li>
                    <li><h4>Wifi Enabled</h4></li>
                    <li><h4>Lifetime Warranty</h4></li>
                </ul>
            </div>

        </div>

        <hr>

        <div class="row">
            <div class="col-sm-4">
                <br>
                <h2>App Details</h2>
                <br>

                <ul>
                    <li><h4>Create custom roasting profiles</h4></li>
                    <li><h4>Share you roasting profiles and get feedback</h4></li>
                    <li><h4>Save your favorite roasts for later</h4></li>
                    <li><h4>Control your roast in real time</h4></li>
                </ul>
                <br>
                <a href="#">
                    <img class="img-responsive" src="public/images/appstore.png" style="width:50%">
                </a>

            </div>
            <div class="col-sm-8">
                <img src="public/images/phones.png" class="img-responsive">
            </div>
        </div>

    </div>

</div>